@tailwind base;
@tailwind components;
@tailwind utilities;

.image-pixelated {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

@keyframes bgScroll {
  0% { background-position: 0 0; }
  100% { background-position: -1000px 0; }
}
